body {
    margin: 0;
    box-sizing: border-box;
}

.container h1{
    text-align: center;
    text-decoration: solid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}

.container h2 {
    text-align: center;
    text-decoration: solid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    color: black;
}

.container p {
    color: black;
    text-align: justify;
    text-decoration:solid ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

.container ul li {
    list-style: none;
    display: inline-block;
    padding-left: 50px;
    
  }

  .container ul li img {
    height: 100px;
    width: 100px;
    
  }
  